*{
    margin: 0%;
}
.body{
    background-color:#5f5f5f;
}
.barra{
    border: 0;
    background-color:#4d4d4d;
    font-family: 'Secular One', sans-serif;
}
.barra p{
    display: inline-block;
    color:white;
}
.barra .texto{
    font-size: 1.5vw;
}
.barra .texto-xs{
    font-size: 2.5vw;
}
#logo{
    float: left;
}
#logo_cel{
    width: 15vw;
    float:left;
}
.boton_login{
    background-color: beige;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 0.1vw solid beige;
    padding: 0.4vw;
    color: #000000;
    text-transform: uppercase;
    border-radius: 15%;
}
#login_cel{
    margin:0.2vw 0 0 0;
    font-size: 2.5vw;
    height: 5vw;
}
#login_pc{
    margin: 0em 1em 0 1em;
    font-size: 1.5vw;
}
.icons{
    width: 3vw;
}
.icons_cel{
    width: 4.5vw;
}
#icons_xl{
    margin: 0em 0.3em 0 0.15em;
}
#icons_cel{
    margin: 25% 0.5vw 2vw 0.5vw;
}
.banner{
    padding: 13em 0 10em 0;
    text-align: center;
    background-image:url(Img/fondo\ banner.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner h1{
    color: rgb(255, 255, 255);
    text-shadow: 0 0.1em 0.1em #000;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
}
